.card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 70px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-card {
  padding: 0% 20% 10% 20%;
  align-items: center;
  justify-content: center;
}
