.card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-card {
  padding: 0% 20% 15% 20%;
  align-items: center;
  justify-content: center;
}
