
.contact-bg {
    background: url(../styles/Images/Photos/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-header-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 7px;
    padding: 20% 0% 0% 7%;
    color: white;
  }
  
  .contact-body-text {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    padding: 0% 50% 20% 7%;
    color: white;
  }
  
  .a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
  }
  
  .a:link {
    color:white;
  }
  
  
  .a:hover {
    border-bottom: 1px solid;
    background: #f8b8a7;
  }