.home-bg {
  background: url(../styles/Images/Photos/mohamed-masaau-nfF5-G6cFwY-unsplash.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start-text {
  padding-top: 15%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 150px;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
