.item {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 13px;
}

.your-list-info-card {
  background: #ffffff;
  border-radius: 10px;
  color: #00A698;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.your-list-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
  margin-bottom: 2.5vh;
}

.list-body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
  margin-bottom: 2.5vh;
  padding: 10px;

}

.category-header {
  background: #00A698;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px;
}

.your-list-info-card-trip {
  font-weight: bold;
}

.your-list-info-card-date {
  display: flex;
  justify-content: flex-end;
} 

